attrs
certifi
charset-normalizer
defusedxml
future-fstrings
idna
importlib-metadata
influxdb
jsonschema
lxml
nats-python
numpy
ordered-set
pandas
pyecore
pyrsistent
python-dateutil
pytz
pywin32==303; platform_system=="Windows"
requests
RestrictedPython
six
urllib3
zipp
pyESDL==21.12.1
